.about-card {
  background: rgba(232, 93, 4, 0.31);

  &__wrap {
    display: flex;
    margin: 0 auto;
  }

  &__product,
  &__info {
    display: flex;
    flex-direction: column;
  }

  &__product {
    margin-right: 250px;
    margin-left: 100px;
  }

  &__info {
    padding-top: 80px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: $black;
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    color: $black;
  }

  &__text {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 8px;
  }

  &__heading {
    margin: 0;
    margin-bottom: 20px;
  }

  &__price {
    margin-top: 10px;
    margin-bottom: 65px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #F2684A;
  }

  &__characteristics {
    display: flex;
  }

  &__btn {
    justify-content: center;
    align-self: flex-start;
  }
}